# {{ ansible_managed }}
[uwsgi]
uid = {{ keystone_system_user_name }}
gid = {{ keystone_system_group_name }}

virtualenv = /openstack/venvs/keystone-{{ keystone_venv_tag }}
wsgi-file = {{ keystone_bin }}/{{ item }}
http = :{{ keystone_uwsgi_ports[item]['http'] }}
socket = 127.0.0.1:{{ keystone_uwsgi_ports[item]['socket'] }}

master = true
enable-threads = true
processes = {{ keystone_wsgi_processes }}
threads = {{ keystone_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = 65535
thunder-lock = true
