# {{ ansible_managed }}

[drive-audit]
device_dir = /srv/node
log_facility = LOG_LOCAL0
log_level = INFO
minutes = 60
error_limit = 2
log_file_pattern = /var/log/kern*
regex_pattern_1 = \berror\b.*\b(sd[a-z]+([0-9]+)?)\b
regex_pattern_2 = \b(sd[a-z]+([0-9]+)?)\b.*\berror\b
