# {{ ansible_managed }}

D /var/lock/{{ item.value.service_name }} 2755 {{ aodh_system_user_name }} {{ aodh_system_group_name }}
D /var/run/{{ item.value.service_name }} 2755 {{ aodh_system_user_name }} {{ aodh_system_group_name }}
