#{{ ansible_managed}}

[DEFAULT]
# Disable stderr logging
use_stderr = False
auth_strategy = keystone
debug = {{ debug }}
transport_url = rabbit://{% for host in aodh_rabbitmq_servers.split(',') %}{{ aodh_rabbitmq_userid }}:{{ aodh_rabbitmq_password }}@{{ host }}:{{ aodh_rabbitmq_port }}{% if not loop.last %},{% else %}/{{ aodh_rabbitmq_vhost }}{% endif %}{% endfor %}

[oslo_messaging_rabbit]
rabbit_use_ssl = {{ aodh_rabbitmq_use_ssl }}

[api]
port = {{ aodh_service_port }}

[database]
connection = {{ aodh_connection_string }}

[keystone_authtoken]
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_plugin = {{ aodh_keystone_auth_plugin }}
signing_dir = {{ aodh_system_user_home }}/cache/api
auth_url = {{ keystone_service_adminurl }}
auth_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ aodh_service_project_domain_id }}
user_domain_id = {{ aodh_service_user_domain_id }}
project_name = {{ aodh_service_project_name }}
username = {{ aodh_service_user_name }}
password = {{ aodh_service_password }}
region_name = {{ keystone_service_region }}

memcached_servers = {{ memcached_servers }}

token_cache_time = 300
revocation_cache_time = 60

# if your memcached server is shared, use these settings to avoid cache poisoning
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}

# if your keystone deployment uses PKI, and you value security over performance:
check_revocations_for_cached = False

[service_credentials]
os_auth_url = {{ keystone_service_internalurl }}
os_username = {{ aodh_service_user_name }}
os_tenant_name = {{ aodh_service_tenant_name }}
os_password = {{ aodh_service_password }}
region_name = {{ aodh_service_region }}
interface = {{ aodh_service_endpoint_type }}
